{{#if navigation.length}}
<div class="nav-list">
  {{#each navigation}}
    {{#if ./content}}
      {{#if ./url}}
        {{~#if (eq ./urlType 'internal')}}
        <a class="mdc-list-item {{#if (eq @root.page.url ./url)}} is-current-page{{/if}}" href="{{{relativize ./url}}}">
          {{#if ./items.length}}
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">chevron_right</i>
          {{/if}}
          <span class="mdc-list-item__text">{{{./content}}}</span>
        </a>
        {{~else}}
        <a class="mdc-list-item {{#if (eq @root.page.url ./url)}} is-current-page{{/if}}" href="{{{./url}}}">
          {{#if ./items.length}}
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">chevron_right</i>
          {{/if}}
          <span class="mdc-list-item__text">{{{./content}}}</span>
        </a>
        {{~/if}}
      {{else}}
        <span class="mdc-list-item {{#if (eq @root.page.url ./url)}} is-current-page{{/if}}">
          {{#if ./items.length}}
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">chevron_right</i>
          {{/if}}
          <span class="mdc-list-item__text">{{{./content}}}</span>
        </span>
      {{/if}}
      {{#if ./items.length}}
        <div class="mdc-list-item--children-panel">
          {{> nav-tree navigation=./items level=(increment ../level)}}
        </div>
      {{/if}}
    {{/if}}
  {{/each}}
</div>
{{/if}}
